@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Days+One&family=Fjalla+One&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.project-card {
  @apply transition-all duration-300 ease-in-out;
}

.project-card:hover {
  @apply transform scale-105;
}

.skill-card {
  @apply transition-all duration-300 ease-in-out;
}

.skill-card:hover {
  color: rgb(163 230 53);
  @apply transform scale-110;
}

.logo:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.no-scroll {
  @apply overflow-hidden h-screen;
}
