@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

.project-card {
  @apply transition-all duration-300 ease-in-out;
}

.project-card:hover {
  @apply transform scale-105;
}

.skill-card {
  @apply transition-all duration-300 ease-in-out;
}

.skill-card:hover {
  @apply transform scale-110;
}

.introduction-container {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.introduction-container.minimized {
  top: 0;
  bottom: auto;
  height: 100px;
  z-index: 1;
  position: relative;
}

.hidden {
  display: none;
}
